.app{
	width:100%;
	height:auto;
	background: #FFFFFF;
	font-size: .8rem;
}
  table { 
            width:100%;
            border: 0;
             margin: 0;
              border-collapse: collapse;
               border-spacing: 0;
                font-size: 1rem;
                 font-family: Arial; margin: 0 auto;
                  }
        table td, table th {
         padding: 0;
          border: 1px solid #d8d8d8;
             text-align: center; color: #666; }
        table th { font-weight: bold; color: #000; }
        .colors{
            display: inline-block;
            width:60%;
            height:100%;
            padding:5px 4px;
            line-height: 1rem;
            border-radius: 50%;
        }
.app tr{
	width:100%;
	height:2rem;
	/*border:1px solid gray;*/
}
.app tr th{
	border-right:2px solid #E2E2DE;
}
.app tr th.fist{
	width:18%;
}
.app tr th.th_2{
	width:9%;
}
 .app tr th.th_4{
	width:10%;
}
.app tr td{
	border:2px solid #E2E2DE;
	color:#555;
}
.huise{
	display: inline-block;
	width:1.5rem;
	height:1.5rem;
	line-height: 1.5rem;
	border:1px solid darkslategray;
	border-radius:50%;
	background: #0198E7;
	color:#FFF;
	border:none;
}
.bg_color{
	display: inline-block;
	width:1rem;
	font-weight: bold;
	border-radius:50%;
	background-color: #0198E7;
	color:#FFF;
	padding:0 1px;
}
.bg_color11{
	display: inline-block;
	width:1rem;
	font-weight: bold;
	border-radius:50%;
	background-color: #D91D37;
	color:#FFF;
	padding:0 1px;
}
.app tr td span.changches{
	/*红色*/
	width:90%;
	height:60%;
	border-radius:5px;
	line-height: 1rem;
	color: #D91D37;
}
.app tr td span.santong{
	/*蓝色*/
	color:#0198E7;
	/*border:1px solid #0198E7;*/
}
/*三同*/
.app tr td span.ertong{
	color:#00FF40;
	/*border:1px solid #00FF40;*/
}
[v-cloak] {
  display: none;
}
/*隔行换色*/
tr:nth-of-type(odd){background:#fff;}
tr:nth-of-type(even){ background:#F9F8F0; }
.lls:nth-of-type(odd){background:#fff;}
.lls:nth-of-type(even){ background:#F9F8F0; }

/*统计部分*/
.data_fenxi{
	width:100%;
	height:8.5rem;
	position: fixed;
	bottom:0;
	display: none;
}
.data_fenxi li{
width:100%;
height:2rem;
border:1px solid gray;
}
.data_fenxi li ol{
	width:100%;
	height:100%;
}
.data_fenxi li ol li{
	width:5.9%;
	height:100%;
	float: left;
	border-top: none;
	border-bottom: none;
	border-left: none;
	line-height: 2rem;
	font-size:0.5rem;
}
.data_fenxi li ol li.fist{
	width:17%;
}
.lls1{
	color:#579ee8;
}
.lls2{
	color:#d88927;
}
.lls3{
	color:#6e8d57;
}
.lls4{
	color:#ea7de1;
}
